body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #032b6b;
}

.dashboard-container {
  text-align: center;
  color: white;
  padding: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: #232d69;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}